<ng-container *ngIf="(document$ | async) as document">
  <h2>{{ document?.header }}</h2>
  <p>{{ document?.content }}</p>

  <form *ngIf="!document.state && document.state !== 0; else showInfoTemplate"
    [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Резолюция</mat-label>
        <mat-select formControlName="resolution">
          <mat-option *ngFor="let resolution of resolutions" [value]="resolution.resolution">
            {{ resolution.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.resolution.invalid">Поле обязательно для заполнения</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Комментарий</mat-label>
        <textarea matInput
          formControlName="comment"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-stroked-button type="button" color="primary" (click)="approve(document.id, 1)" [disabled]="form.invalid">Утвердить</button>
      <button mat-stroked-button type="button" color="warn" (click)="approve(document.id, 0)" [disabled]="form.invalid">Отклонить</button>
    </div>

  </form>

  <ng-template #showInfoTemplate>
    <app-resolution-info [document]="document"></app-resolution-info>
  </ng-template>
</ng-container>
