<ul>
  <li>Проверяющий: {{ document.approver }}</li>
  <li>Резолюция: <span [appApprovedColor]="document.resolution">{{ documentResolutionName }}</span></li>
  <li>Статус подтверждения: <span [appApprovedColor]="document.state">{{ document.state ? 'Подтверждено' : 'Отклонено' }}</span></li>
  <li>Комментарий: {{ document.comment }}</li>
</ul>
